@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf');
  src: url('Roboto-Regular.ttf') format('woff'),
    url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('./Roboto-Bold.ttf');
  src: url('Roboto-Bold.ttf') format('woff'),
    url('Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}